BokuNoHeroAcademiaMultiplatform/shared/build/
BokuNoHeroAcademiaMultiplatform/shared/shared.podspec
.DS_Store
BokuNoHeroAcademiaMultiplatform/.idea/
BokuNoHeroAcademiaMultiplatform/ios/BokuNoHeroAcademiaMultiplatform/BokuNoHeroAcademiaMultiplatform.xcworkspace
BokuNoHeroAcademiaMultiplatform/ios/BokuNoHeroAcademiaMultiplatform/Pods/
